.meta-info {
    color: grey;
    margin-top: -28px;
    font-size: 14px
}

.article {
    max-width: 720px;
    margin: 0 auto;
}

.article img {
    width: 100%;
    max-height: 200px;
}

.article-image {
    text-align: center;
}

.title {
    font-size: 52px;
}

p {
    line-height: 1.5em;
    font-size: 21px;
}